@import './theme.scss';

.rs-table-cell-header .rs-table-cell-content {
  line-height: unset;
}
.vv-table-isFull {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
.rs-table .vv-bg-active .rs-table-cell {
  background-color: pink;
}
